<h2 class="text-center">Ajax Sampler</h2>
<div class="col-md-3">
  <p>
    <button id="static" type="button" class="btn btn-primary">1: Static server data</button>
  </p>
  <p>
    <button id="read" type="button" class="btn btn-info">2: Read from database</button>
  </p>
  <p>
  <hr>
    <div class="form-group">
      <input id="txtValue" class="form-control" type="text" placeholder="add new value"/>
    </div>
    <button id="write" type="button" class="btn btn-success">3: Write to database</button>
  </p>
</div>
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ajax Output</h3>
    </div>
    <div id="output" class="panel-body">

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      var $output = $('#output');

      $('#static').click(function(){
          $output.empty(); //Clear output
          $.ajax({
             type: "GET",
             url: "/msg.json",
             dataType: "json",
             success: function (response) {
                 $output.html(response.msg);
             }
          });
      });

      $('#read').click(function(){
          //Get list of animals from database
          $output.empty();
          $.ajax({
              type: "GET",
              url: "/animals.json",
              dataType: "json",
              success: function(response) {
                  createHtmlList(response, $output);
              }
          });
      });

      $('#write').click(function(){
          //Post to and then read from database
          inputValue = $('#txtValue').val();

          if (inputValue != "") {
              $output.empty();
              $.ajax({
                  type: "POST",
                  url: "/animals.json",
                  data: { animal: { species: inputValue } },
                  dataType: "json",
                  success: function(response) {
                      createHtmlList(response, $output);
                      $('#txtValue').val("");
                  }
              });
          } else {
              alert("Text field can't be empty.");
          }
      });
  });

  function createHtmlList(objCollection, containerTag) {
      containerTag.append('<ul id="list"></ul>');
      $ul = $('#list');

      for(var i = 0; i < objCollection.length; i++) {
          var obj = objCollection[i];
          $('<li></li>').appendTo($ul).html(obj.species);
      }
  }
</script>