<h2 class="text-center">Ajax Example</h2>
<div class="col-md-4">
  <p>
    <button id="simple" type="button" class="btn btn-primary">Simple Ajax</button>
  </p>
  <p>
    <button id="read" type="button" class="btn btn-info">Ajax read from database</button>
  </p>
  <p>
    <button type="button" class="btn btn-primary">Primary</button>
  </p>
</div>
<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Output</h3>
    </div>
    <div id="output" class="panel-body">

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
      var $output = $('#output');

      $('#simple').click(function(){
          $output.html(""); //Clear output
          $.ajax({
             type: "GET",
             url: "/msg.json",
             dataType: "json",
             success: function (response) {
                 console.log(response); //show raw json object
                 $output.html(
                         response.from + "<br>" +
                         response.msg
                 );
             }
          });
      });

      $('#read').click(function(){
         $output.html("");

          $.ajax({
              type: "GET",
              url: "/animals.json",
              dataType: "json",
              success: function(response) {
                  console.log(response);

                  //create an unordered list in div#output
                  $output.append('<ul id="list"></ul>');
                  $ul = $('#list');

                  for(var i = 0; i < response.length; i++) {
                      $ul.append('<li>' + response[i].species + '</li>');

                  }
              }
          });
      });


  });
</script>